## Production

This code should be running on server or in cloud

In [6]:
from pycaret.regression import *
import pandas as pd

In [14]:
new_data = pd.read_csv('diamond_new_data.csv')

In [15]:
new_data.head()

   Carat Weight        Cut Color Clarity Polish Symmetry Report  Price
0          1.53      Ideal     E     SI1     ID       ID   AGSL  12791
1          1.50       Fair     F     SI1     VG       VG    GIA  10450
2          1.01       Good     E     SI1      G        G    GIA   5161
3          2.51  Very Good     G     VS2     VG       VG    GIA  34361
4          1.01       Good     I     SI1     VG       VG    GIA   4238

In [16]:
saved_final_lightgbm = load_model('diamond-pipeline')

Transformation Pipeline and Model Successfully Loaded

In [17]:
new_prediction = predict_model(saved_final_lightgbm, data=new_data)

In [18]:
new_prediction.head()

,Carat Weight,Cut,Color,Clarity,Polish,Symmetry,Report,Price,prediction_label
0,1.53,Ideal,E,SI1,ID,ID,AGSL,12791,10166.494098
1,1.50,Fair,F,SI1,VG,VG,GIA,10450,9562.490920
2,1.01,Good,E,SI1,G,G,GIA,5161,4360.275460
3,2.51,Very Good,G,VS2,VG,VG,GIA,34361,30857.551363
4,1.01,Good,I,SI1,VG,VG,GIA,4238,3756.506116