# API with Pycaret and FastAPI

## 1. Get predictions with requests

In [11]:
import requests

def get_predictions(carat_weight, cut, color, clarity, polish, symmetry, report):
    url = 'http://localhost:8000/predict?carat_weight={carat_weight}&cut={cut}&color={color}&clarity={clarity}&polish={polish}&symmetry={symmetry}&report={report}'\
    .format(carat_weight = carat_weight, cut = cut,\
     color = color, clarity = clarity, polish = polish, symmetry = symmetry, report = report)
    
    x = requests.post(url)
    print(x.text)

In [12]:
get_predictions(1.1, 'Ideal', 'H', 'SII', 'VG', 'EX', 'GIA')

{"prediction":5424}

## 2. Automated API creation

In [3]:
# load the dataset from pycaret
from pycaret.datasets import get_data
data = get_data('diamond')

   Carat Weight    Cut Color Clarity Polish Symmetry Report  Price
0          1.10  Ideal     H     SI1     VG       EX    GIA   5169
1          0.83  Ideal     H     VS1     ID       ID   AGSL   3470
2          0.85  Ideal     H     SI1     EX       EX    GIA   3183
3          0.91  Ideal     E     SI1     VG       VG    GIA   4370
4          0.83  Ideal     G     SI1     EX       EX    GIA   3171

In [4]:
# initialize setup
from pycaret.regression import *
s = setup(data, target = 'Price', 
          transform_target = True, 
          log_experiment = True, 
          #log_plots = True,
          experiment_name = 'diamond')

In [5]:
# train model
lightgbm = create_model('lightgbm')

2024/10/21 16:31:47 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

In [6]:
# create API
create_api(lightgbm, 'my_first_api')

API successfully created. This function only creates a POST API, it doesn't run it automatically. To run your API, please run this command --> !python my_first_api.py

In [7]:
# Run the API
# !python my_first_api.py

In [8]:
#http://localhost:8000/docs